FormsClient/Service References/ServiceReference1/AbsenteeismbeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55970/AbsenteeismbeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Absenteeismbe.Model" />
  <xs:element name="AddAbsence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Absenteeismbe.Model" minOccurs="0" name="request" nillable="true" type="q1:AddFoldRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAbsenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAbsenceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>