FormsClient/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Absenteeismbe.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Absenteeismbe.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddFoldRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddFoldRequest" nillable="true" type="tns:AddFoldRequest" />
</xs:schema>